port: 8080
db_user: USER
db_pass: PASS
db_name: tracksys3_development
db_host: localhost:3306
iiif_url: http://iiif.lib.virginia.edu/iiif           # for images with public availability policy
iiif_uvaonly_url: http://iiif.lib.virginia.edu/iiif   # for images with UVA Only availability policy
