port: 8080
db_user: USER
db_pass: PASS
db_name: tracksys3_development
db_host: localhost:3306
db_old_passwords: false
iiif_url: http://iiif.lib.virginia.edu/iiif
https: false
ssl_crt: cert.pem
ssl_key: key.pem
virgo_solr_url: http://solr.lib.virginia.edu:8082/solr/core
virgo_url: http://search.lib.virginia.edu/catalog
