port: 8080
db_user: USER
db_pass: PASS
db_name: tracksys3_development
db_host: localhost:3306
iiif_url: https://iiif.lib.virginia.edu/iiif
https: false
ssl_crt: cert.pem
ssl_key: key.pem
virgo_solr_url: http://solr.lib.virginia.edu:8082/solr/core
tracksys_solr_url: http://tracksys.lib.virginia.edu/api/solr
virgo_url: http://search.lib.virginia.edu/catalog
